{% extends "base.html" %}

{% block content %}

	<div class="container mt-3 mb-5">
        <p>Agregar otra actividad</p>
        <form class="form-inline my-2 my-lg-0" action="/nuevaactividad" method="POST">
        <p>Nombre de la actividad</p>
        <input type="text", id="nombreactividad", class="form-control", name="nombreactividad" required>
        <p>ID del curso</p>
        <input type="text", id="nombrecurso", name="nombrecurso" required>
        <button type="submit" class="btn btn-success">Nueva actividad</button>
        </form>
    </div>

	{% if actividades is not none %}
        {% for actividad in actividades %}
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h3><a href="/feedback/{{ actividad.id }}">{{ actividad }}</a></h3>
                </div>
                <div class="col">
                    <form class="form-inline my2 my-lg-0" action="/borraractividad/{{ actividad.id }}">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="container">
            <h4>Todavía no hay ninguna actividad.</h4>
        </div>
    {% endif %}


{% endblock %}

