{% extends "base.html" %}

{% block content %}

<div class="container mt-3 mb-10">
    <h1></h1>
</div>

<div class="container mt-3 mb-10">
	<p><a href="/">Regresar a inicio</a></p>
	<p><a href="/managefeedback/{{actividad}}">Administrar feedback</a></p>
    <p>Agregar nuevo feedback</p>
    <form class="form-inline my-2 my-lg-0" action="/nuevofeedback" method="POST">
    <p>Feedback</p>
    	<textarea id="feedback", name="feedback">
        </textarea><br>
    <p>ID de la actividad</p>
    <input type="text", id="nombreactividad", name="nombreactividad" required>
    <button type="submit" class="btn btn-success">Agregar feedback</button>
    </form>
</div>

<div class="container mt-3 mb-10">
    <h1></h1>
</div>

<div class="container mt-3 mb-10">
    <h1></h1>
</div>

<div class="container mt-3 mb-10">
    <h1>Feedback</h1>
</div>

<div class="container">
	<div class="row">
	    <div class="col-sm-8">
	    	<form method="POST" action="/feedback/{{actividad}}">
	    	{% if feedback is not none %}
		        {% for feed in feedback %}
		        <div class="container">
		            <div class="row mb-3">
		                   <input type="checkbox" value="{{feed.id}}" name="formafeedback">{{ feed }}
		            </div>
		        </div>
		        {% endfor %}
		        <input type="submit">
		    {% else %}
		        <div class="container">
		            <h4>Todavía no hay ningún curso.</h4>
		        </div>
		    {% endif %}
			</form>
	    </div>
	</div>
	<div class ="row">
    	{{mensaje}}
    </div>
 </div>




{% endblock %}